*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

}
body{
	background-image: url(img/BG.jpg);
	background-size: 100%;
}
.block{
	background: black;
	width: 100px;
	height: 100px;
}
.log-block{
	background-color: black;
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
}
.block__body{
	padding: 0px 0px 0px 0px;
	flex: 1 1 auto;
	man-whith: 500;
}
.swiper-slide{
	text-align: center;

}
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.swiper-button-next::after {
	content: "→";
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  color: #0B2349;
  display: table;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
  background-size: 200%,200%;
  animation: grad 2s ease infinite;

}
.swiper-button-prev::after {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  color: #0B2349;
  display: table;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
  background-size: 200%,200%;
  animation: grad 2s ease infinite;

}
@keyframes grad{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}


@media screen and (max-width: 1200px) {
img{
	width: 100%;
}
    
}

@media screen and (max-width: 992px) {
img{
	width: 100%;
}
}
@media screen and (max-width: 768px) {
img{
	width: 100%;
}
}   
@media screen and (max-width: 480px) {
img{
	width: 100%;
}
.swiper-button-next::after{
	width: 1px;
	height: 5px;
}
}   


@media screen and (max-width: 320px) {
img{
	width: 100%;
}         
}
