*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

}
.block{
	background: black;
	width: 100px;
	height: 100px;
}
.log-block{
	background-color: black;
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
}
.block__body{
	padding: 0px 0px 0px 0px;
	flex: 1 1 auto;
	man-whith: 500;
}
.swiper-slide{
	text-align: center;

}
@media screen and (max-width: 1200px) {
    img{
	width: 100px;
}
}

@media screen and (max-width: 600px) {
img{
	width: 160px;
}
}        

@media screen and (max-width: 320px) {
img{
	width: 160px;
	}           
}
